
@font-face {
    font-family: 'Geologica-ExtraBold';
    src: url(../font/Geologica-ExtraBold.ttf);
}

@font-face {
    font-family: 'EmblemaOne-Regular';
    src: url(../font/EmblemaOne-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url(../font/Roboto-Italic.ttf);
}
